<header>
    <nav class=" position-fixed fixed-top bg-white navbar navbar-expand-lg border-bottom shadow-sm">
        <div class="container container-fluid">
          <a class="navbar-brand" routerLink ="/">
            <h3 class="my-0 mr-md-auto font-weight-normal text-dark ">Adop Pet <i class="fas fa-paw"></i></h3>
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link " routerLink ="/principal/listado">
                    Adopción
                </a>
              </li>
              <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link " href="https://appdogchat.azurewebsites.net/" target="_blank">
                    Chat
                </a>
              </li>
              <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link " routerLink="/principal/registroMascota">
                    Registrar Mascota
                </a>
              </li>
            </ul>
          </div>
          
          <div class="btngroup" role="group">
            <button id="btnGroupDrop1" class="btn btn-info m-3 p-2" >
              <a href="#" class="text-decoration-none text-white">
                <i class="fas fa-user mx-1"> </i><span class="user-text">{{ currentUser.username}}</span>
              </a>
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <!--<li><a class="dropdown-item" routerLink ="/cart"><i class="fas fa-shopping-cart"></i>Estado adopcion</a></li>
              <li class="divider"></li>-->
              <li ><a class="dropdown-item"><i class="fa fa-fw fa-power-off"></i> Cerrar Sesión</a></li>
                <!-- (click)="logout()"-->
            </ul>
          </div>


          
        </div>
      </nav>
</header>
